[submodule "OpenTechBFG/OpenTechBFG"]
	path = OpenTechBFG/OpenTechBFG
	url = https://github.com/OpenTechEngine/OpenTechBFG.git
[submodule "DarkRadiant/DarkRadiant"]
	path = DarkRadiant/DarkRadiant
	url = https://github.com/OpenTechEngine/DarkRadiant.git
[submodule "BFGFontTool/BFGFontTool"]
	path = BFGFontTool/BFGFontTool
	url = https://github.com/OpenTechEngine/BFGFontTool.git
[submodule "bmfont/bmfont"]
	path = bmfont/bmfont
	url = https://github.com/OpenTechEngine/bmfont.git
[submodule "ModelingTools/ModelingTools"]
	path = ModelingTools/ModelingTools
	url = https://github.com/OpenTechEngine/ModelingTools.git
